.footer {
	display: flex;
	padding: 20px 25px;
	align-items: center;
	justify-content: center;
	z-index: 100;
	width: 100%;
}

.footer a {
	font-weight: bold;
	color: #36b278;
	text-decoration: none;
}

.footer p {
	text-align: center;
	font-size: 14px;
    color: #808080;
    line-height: 180%;
}
